/******************************************/
/*Colour names*/
/******************************************/

$neutral: #DCDCDC;

$colour1: #3D3028;
$colour2: #765F4F;
$colour3: #C89FA3;
$colour4: #E4C7C6;
$colour5: #FCC1B3;

/******************************************/
/*Imported modules*/
/******************************************/
@import 'modules/header';
@import 'modules/modulesNav';
@import 'modules/module';
@import 'modules/footer';