/******************************************/
/*Colour names*/
/******************************************/

$homeGreen: #00e6b8;
$white: #FFF;
$black: #404040;

/******************************************/
/*Generic*/
/******************************************/

body {
	font-family: 'Cousine', monospace;
}

a {
	color: #404040;
}
a, a:hover, a:active {
	text-decoration: none;
}

h1 {
	font-family: 'Cousine', monospace;
	small {
		color: $black;	
	}
}

p {
	color: $black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    word-wrap: break-word;
    font-weight: 300;
    text-align: justify;
}


/******************************************/
/*Imported modules*/
/******************************************/
@import 'modules/header';
@import 'modules/modulesNav';
@import 'modules/app';