/******************************************/
/*Colour names*/
/******************************************/

$homeGreen: #00e6b8;
$white: #FFF;
$neutral: #DCDCDC;

$colour1: #3D3028;
$colour2: #765F4F;
$colour3: #C89FA3;
$colour4: #E4C7C6;
$colour5: #FCC1B3;

/******************************************/
/*Generic*/
/******************************************/

body {
	font-family: 'Cousine', monospace;
}

h1 {
	font-family: 'Cousine', monospace;
	small {
		color: #404040;	
	}
}

p {
	color: #404040;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    word-wrap: break-word;
    font-weight: 300;
    text-align: justify;
}

/******************************************/
/*Imported modules*/
/******************************************/
@import 'modules/header';
@import 'modules/modulesNav';
@import 'modules/module';
@import 'modules/footer';