/******************************************/
/*Colour names*/
/******************************************/
/******************************************/
/*Generic*/
/******************************************/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F7F7F7; }

a {
  color: #404040; }

a, a:hover, a:active {
  text-decoration: none; }

h1 {
  font-size: 24px; }
  h1 small {
    color: #404040; }

h2 {
  font-size: 16px; }

p {
  color: #404040;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  word-wrap: break-word;
  font-weight: 300;
  text-align: justify; }

/******************************************/
/*Imported modules*/
/******************************************/
.top-nav {
  background-color: #C9C9C9;
  padding: 5px 20px 0;
  height: 37px; }

.logo {
  position: relative;
  top: 3px;
  width: 120px;
  height: 22px;
  background-image: url("../images/developme_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block; }

.btn-logout {
  background-color: #00e6b8;
  color: #FFF;
  border: none;
  font-size: 10px; }

.titles {
  text-align: center;
  margin: 35px 0; }

.header-body {
  background-color: #FFF; }

.header-course {
  display: inline-block;
  margin: 10px 0 0 0; }

.header-username {
  display: inline-block;
  color: #00e6b8;
  margin: 10px 0 0 0; }

.header-cohort {
  color: #00e6b8;
  margin: 0; }

.bottom-nav {
  background-color: #C9C9C9;
  text-align: center; }

.bottom-nav-module {
  display: inline-block;
  background-color: #00e6b8;
  padding: 0 5px;
  border-radius: 1px;
  margin: 0 1px;
  cursor: pointer; }

.fa-user-o {
  color: #FFF;
  font-size: 20px;
  padding: 3px 10px 0 0; }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header-loggedIn {
    display: none; } }
.topics {
  background-color: #FFF;
  padding: 0;
  border: 1px solid #E5E5E5; }

.topics-header {
  border-bottom: 1px solid #E5E5E5; }

.topics-header-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00e6b8; }

.topics-title {
  padding: 0 10px;
  font-weight: bold;
  margin: 30px 0 20px 0; }

.topic-icon {
  background-color: #E5E5E5;
  margin: 0;
  padding: 0 10px;
  border-bottom: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  color: #404040;
  font-size: 20px; }

.topic-title {
  margin: 10px 0;
  color: #4d4d4d; }

.topic-icon:hover {
  background-color: #00e6b8;
  color: #404040;
  font-weight: bold; }

.btn-login {
  position: relative;
  right: 8px; }

.app {
  min-height: 400px;
  background-color: #00e6b8;
  padding-bottom: 25px; }

.tasks {
  padding-top: 47px; }

.task {
  border-top: 2px dotted #FFF; }

.task-title {
  margin-top: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 80%; }

.task-title:hover {
  cursor: pointer;
  color: #FFF; }

.marker {
  border-radius: 50%;
  border: 1px solid #FFF;
  width: 40px;
  height: 40px;
  display: inline-block;
  float: right;
  cursor: pointer;
  margin-top: 8px; }

.complete {
  background-color: #404040; }

.error-message-container {
  margin: 10px 0;
  padding: 8px 0;
  background-color: #666;
  cursor: pointer; }

.error-message {
  color: #FFF;
  margin-bottom: 0; }

/*# sourceMappingURL=output.css.map */
