/******************************************/
/*Colour names*/
/******************************************/
/******************************************/
/*Generic*/
/******************************************/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F7F7F7; }

a {
  color: #404040; }

a, a:hover, a:active {
  text-decoration: none;
  color: #404040;
  font-weight: bolder; }

h1 {
  font-size: 24px; }
  h1 small {
    color: #404040; }

h2 {
  font-size: 14px; }

p {
  color: #404040;
  font-family: 'Roboto', sans-serif;
  font-size: 13.5px;
  font-weight: 300; }

.app {
  padding-top: 20px;
  padding-bottom: 40px; }

.narrow-padding {
  padding: 0 10px; }

.panel {
  margin: 0;
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-bottom: 1px solid #FFF;
  border-radius: 0; }
  .panel h1, .panel h2, .panel p {
    padding: 0 10px; }
  .panel .panel-title {
    font-weight: 600;
    margin: 30px 0 20px 0; }

.error-message-container {
  margin: 10px 0;
  padding: 8px 0;
  background-color: #FF3030;
  cursor: pointer;
  border-radius: 4px; }

.error-message {
  color: #FFF;
  margin-bottom: 0; }

.btn-login {
  position: relative;
  right: 8px; }

.fa {
  font-size: 20px; }

.fa-check-circle-o {
  color: #00e6b8; }

.fa-times-circle-o {
  color: #FF3030; }

.hyperlink {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.5em; }
  .hyperlink a {
    color: #00e6b8; }
    .hyperlink a:hover {
      text-decoration: underline; }

/******************************************/
/*Imported modules*/
/******************************************/
.top-nav {
  background-color: #C9C9C9;
  padding: 5px 20px 0;
  height: 37px; }

.logo {
  position: relative;
  top: 3px;
  width: 120px;
  height: 22px;
  background-image: url("../images/developme_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block; }

.btn-logout {
  background-color: #00e6b8;
  color: #FFF;
  border: none;
  font-size: 10px; }

.titles {
  text-align: center;
  margin: 35px 0; }

.header-body {
  background-color: #FFF; }

.header-course {
  display: inline-block;
  margin: 10px 0 0 0; }

.header-username {
  display: inline-block;
  color: #00e6b8;
  margin: 10px 0 0 0; }

.header-cohort {
  color: #00e6b8;
  margin: 0; }

.bottom-nav {
  background-color: #C9C9C9;
  text-align: center; }

.bottom-nav-module {
  display: inline-block;
  background-color: #00e6b8;
  padding: 0 5px;
  border-radius: 1px;
  margin: 0 1px;
  cursor: pointer; }

.fa-user-o {
  color: #FFF;
  font-size: 20px;
  padding: 3px 10px 0 0; }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header-loggedIn {
    display: none; } }
.topics {
  padding-bottom: 0; }

.topics-header {
  border-bottom: 1px solid #E5E5E5; }

.topics-header-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00e6b8; }

.topics-title {
  font-weight: bold;
  margin: 30px 0 20px 0; }

.topics-icon {
  background-color: #E5E5E5;
  margin: 0;
  border-bottom: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  color: #404040;
  font-size: 20px; }

.topics-icon-title {
  margin: 10px 0;
  color: #4d4d4d; }

.topics-icon:hover {
  background-color: #00e6b8;
  color: #404040;
  font-weight: bold; }

.topic-title {
  margin: 24px 0 16px 0;
  padding: 0 10px;
  font-weight: bolder; }

.topic-description {
  padding: 0 10px;
  color: #4d4d4d; }

.topicStatus p {
  text-align: center;
  padding: 0; }

.topicStatus-stat {
  margin: 15px 0 5px 0;
  font-weight: bold;
  font-size: 18px; }

.topicStatus-done {
  color: #00e6b8; }

.topicStatus-notDone {
  color: #404040; }

.topicStatus-label {
  color: #C9C9C9;
  font-size: 12px; }

.marker.topicStatus-marker .fa {
  margin-top: 12px;
  font-size: 40px; }

@media only screen and (max-width: 500px) {
  .marker.topicStatus-marker .fa {
    float: right; } }
.taskList {
  padding-bottom: 10px; }

.taskList-title {
  font-weight: bold; }

.taskList-task-title {
  margin-bottom: 0; }

.status-title {
  text-align: center; }

.task:hover p {
  background-color: #00e6b8;
  color: #404040;
  font-weight: bolder; }

.marker {
  display: flex;
  justify-content: center;
  cursor: pointer; }

@media only screen and (max-width: 500px) {
  .status-title {
    float: right; } }
.task-resources .panel {
  background-color: #E5E5E5;
  color: #4d4d4d;
  padding-bottom: 10px; }
  .task-resources .panel .panel-title {
    margin: 10px 0 5px 0;
    padding-left: 0; }
  .task-resources .panel p {
    padding-left: 0; }

.task-resources .panel:hover {
  background-color: #00e6b8; }
  .task-resources .panel:hover p, .task-resources .panel:hover .resource-icon {
    color: #404040;
    font-weight: bolder; }

.resource-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  padding-right: 0; }
  .resource-icon-container .resource-icon {
    color: #4d4d4d; }

.resource-info {
  padding-left: 0; }
  .resource-info p {
    margin: 0; }

.assessment-questions .panel {
  background-color: #E5E5E5;
  color: #4d4d4d;
  padding: 10px 0; }
  .assessment-questions .panel .panel-title {
    margin: 10px 0 5px 0; }
  .assessment-questions .panel .panel-title, .assessment-questions .panel p {
    padding-left: 0; }
  .assessment-questions .panel .textarea {
    padding: 0 40px; }

.submit-assessment {
  padding: 10px;
  display: flex;
  justify-content: center; }
  .submit-assessment .btn-submit {
    font-size: 14px; }

.welcome .logo {
  display: block;
  position: static;
  margin: 10px; }

.welcome-banner {
  height: 175px;
  margin: 0 10px 20px;
  width: calc(100% - 20px);
  background-image: url(https://developme.training/wp-content/uploads/2015/09/header-background-fell-june2017.jpg);
  background-position: center 36%; }

.instructions {
  margin: 0 25px;
  width: 80%; }
  .instructions li {
    margin: 8px 0; }

.progress {
  margin: 0px auto 10px;
  width: 80%;
  background-color: #E5E5E5; }

.progress-bar {
  background-color: #00e6b8; }

/*# sourceMappingURL=output.css.map */
