.app {
	min-height: 400px;
	background-color: $homeGreen;
	padding-bottom: 25px;
}

.tasks {
	padding-top: 47px;
}

.task {
	border-top: 2px dotted $white;
	padding-bottom: 10px;
	padding-top: 10px;
}
.task:hover {
	cursor: pointer;
	color: $white;
}

.task::after {
	content: '+';
	float: right;
}

