.assessment-questions .panel {
	background-color: $lighterGrey;
	color: $darkGrey;
	padding: 10px 0;
	.panel-title {
		margin: 10px 0 0 0;
	}
	.radio {
		padding-left: 40px;
	}
	.textarea {
		padding: 0 40px;
	}
}

.submit-assessment {
	padding: 10px;
	display: flex;
	justify-content: center;
	.btn-submit {
		font-size: 14px;
	}
}