.btn-email {
	color: $white;
	text-decoration: none;

	background-color: $homeGreen;
	&:link {
		color: $white;
		text-decoration: none;
		.fa {
			color: $black;
			margin-left: 5px;
		}
	}
}

.btn-home-green {
	transition: background-color .25s ease-in-out;
	background-color: $homeGreen;
	border-color: transparent;
	color: $black;
	&:hover {
		transition: background-color .25s ease-in-out;
		background-color: $white;
		border-color: transparent;
		color: $homeGreen;
		.fa {
			color: $black;
		}
	}
	.fa {
		margin-left: .3em;	
	}
	&.active {
		background-color: $white;
		box-shadow: none;
		color: $homeGreen;
	}
}



@media (max-width: 767px) {
	.btn-lg-mob {
		margin: 1em 0;
		padding: 1em;

		font-size: 1.25em;
	}	

}
@media (min-width: 768px) {
	.btn-email {
		width: auto;
	}
}