.forgot-form {
    padding-top: 8px;
    @at-root #{&}__label {
    	color: $homeGreen;
    	font-weight: 500;
    }
}
.forgot-password-text {
	cursor: pointer;
	color: $homeGreen;
	text-align: center;
	@media only screen and (max-width : 768px) {
		margin: 20px 0;
	}
}

.onsubmit-text {
	text-align: center;
	color: $homeGreen;
	font-size: 16px;
}