.forgot-form {
    padding-top: 8px;
    @at-root #{&}__label {
    	color: $black;
    	font-weight: 500;
    }
    @at-root #{&}__header {
    	padding: 0 0 1em;

    	font-size: 1.25em;
    }
}
.forgot-password-text {
	cursor: pointer;
	color: $homeGreen;
	text-align: center;
	@media only screen and (max-width : 768px) {
		margin: 20px 0;
	}
}

.forgot-form__message {
	text-align: center;
	font-size: 16px;
}

.forgot-form__message--success {
	color: $homeGreen;
}
.forgot-form__message--fail {
	color: $red;
}
