.top-nav {
	background-color: $lightGrey;
	padding: 10px 20px;
}

.logo {
	position: relative;
	top: 3px;
	width: 140px;
	height: 30px;
	background-image: url('../images/developme_logo.svg');
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
}

.btn-logout {
	color: $black;
	border: none;
	font-size: 16px;
}

.titles {
	text-align: center;
	margin: 35px 0;
}

.header-body {
	background-color: $white;
}

.header-course {
	display: inline-block;
	margin: 10px 0 0 0;
}
.header-username {
	display: inline-block;
	color: $homeGreen;	
	margin: 10px 0 0 0;
}
.header-cohort {
	color: $homeGreen;	
	margin: 0;
}

.bottom-nav {
	background-color: $lightGrey;
	text-align: center;
	padding: 2px;
	min-height: 30px;
	// padding: 5px 20px;
}

.bottom-nav-module {
	position: relative;
	display: inline-block;
	background-color: $homeGreen;
	padding: 5px 10px;
	border-radius: 2px;
	margin: 1px;
	cursor: pointer;

	font-size: 16px;
	.fa {
		margin-left: 5px;
	}
	@at-root #{&}__notification {
		position: absolute;
		top: -12.5px;
		right: -12.5px;

		display: block;

		height: 25px;
		padding: 4px 0;
		width: 25px;

		background-color: $red;
		border-radius: 100%;
		box-shadow: 0 0 8px $black;

		color: $white;
		font-size: .9em;
	}
}

.user-icon {
	color: $black;
	font-size: 20px;
	margin-left: 5px;
	padding: 0 3px;
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header-loggedIn {
		display: none;
	}
}
.fa-home {
	color: $black;
	font-size: 22px;
}