.top-nav {
	background-color: $lightGrey;
	padding: 5px 20px 0;
	height: 37px;
}

.logo {
	position: relative;
	top: 3px;
	width: 120px;
	height: 22px;
	background-image: url('../images/developme_logo.svg');
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
}

.btn-logout {
	background-color: $homeGreen;
	color: #FFF;
	border: none;
	font-size: 10px;
}

.titles {
	text-align: center;
	margin: 35px 0;
}

.header-body {
	background-color: $white;
}

.header-course {
	display: inline-block;
	margin: 10px 0 0 0;
}
.header-username {
	display: inline-block;
	color: $homeGreen;	
	margin: 10px 0 0 0;
}
.header-cohort {
	color: $homeGreen;	
	margin: 0;
}

.bottom-nav {
	background-color: $lightGrey;
	text-align: center;
}

.bottom-nav-module {
	display: inline-block;
	background-color: $homeGreen;
	padding: 0 5px;
	border-radius: 1px;
	margin: 0 1px;
	cursor: pointer;
}
.fa-user-o {
	color: $white;
	font-size: 20px;
	padding: 3px 10px 0 0;
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header-loggedIn {
		display: none;
	}
}

