.logo {
	width: 200px;
	height: 36px;
	background-image: url('../images/developme_logo.svg');
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
	top: 8px;
}
.header-subtitle {
	display: inline-block;
}

.home-link:hover {
	text-decoration: none;
}

.header-loggedIn {
	
}