// instructor front page icons
.email-div {
	display: flex;
	justify-content: center;
}
.email-link {
	align-self: center;
	margin-left: 10px;
}

.task-info {
	color: $homeGreen;
	padding-right: .25em;
}