.login-form {
	@media only screen and (min-width : 768px) {
		width: 80%;
   	padding-top: 0;
    margin: 0 auto;
	}	 
} 

.register-confirmation {
	margin-top: 2em;
	padding: 1em;

	background-color: $homeGreen;
	border-radius: 5px;
	color: $white;
}