.module-icon-1 {
	background-color: $colour1;
}
.module-icon-2 {
	background-color: $colour2;
}
.module-icon-3 {
	background-color: $colour3;
}
.module-icon-4 {
	background-color: $colour4;
}
.module-icon-5 {
	background-color: $colour5;
}
.module-icon-6 {
	background-color: $colour1;
}
.module-icon-7 {
	background-color: $colour2;
}
.module-icon-8 {
	background-color: $colour3;
}
.module-icon-9 {
	background-color: $colour4;
}
.module-icon-10 {
	background-color: $colour5;
}