.module {
	height: 400px;
}

.module-1 {
	background-color: $colour1;
}
.module-2 {
	background-color: $colour2;
}
.module-3 {
	background-color: $colour3;
}
.module-4 {
	background-color: $colour4;
}
.module-5 {
	background-color: $colour5;
}
.module-6 {
	background-color: $colour1;
}
.module-7 {
	background-color: $colour2;
}
.module-8 {
	background-color: $colour3;
}
.module-9 {
	background-color: $colour4;
}
.module-10 {
	background-color: $colour5;
}