.module-icon {
	height: 100px;
	background-color: $homeGreen;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $white;
	font-size: 20px;
}

.module-icon-inner {
	width: 80%;
	height: 80%;
	position: absolute;
	border-radius: 3%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		margin-top: 13px;
	}
}

.module-icon:hover {
	color: $homeGreen;
	.module-icon-inner {
		background-color: $white;
	}
}
