.progress {
	margin: 0px auto 10px;
	width: 80%;

	background-color: #E5E5E5;
}

.progress-bar {
	text-indent: .5em;

	background-color: #00e6b8; 
}

@media (max-width: 767px) {
	.progress {
		height: 2.5em;

		margin: 1em 0;
		width: 100%;
		.progress-bar {
			padding: .5em;
		}
	}
}