.report-issue {
	display: flex;
	justify-content: center;
	width: 100%;
	cursor: pointer;

	padding: 1em 0;

	background-color: $white;
}

.report-issue-title {
	margin: 10px 0;
}

.report-issue-title span {
	color: $homeGreen;
}
.issues-form {
	margin: 0px auto;
	background-color: #E5E5E5;
	width: 100%;
	border: 1px solid #E5E5E5;
	padding: 10px;
}

.issue-buttons {
	display: flex;
	justify-content: center;
}
.btn-submit {
	background-color: #00e6b8;
}

#issue-description {
	padding-top: 10px;
	padding-bottom: 100px;
}
.popup-close {
	float: right;
	position: relative;
	top: -6px;
	border-radius: 5px;
}
.onsubmit-text {
	margin-top: 20px;
    text-align: center;

	opacity: 0;
    animation: 3s linear 0s fade;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		display: none;
		opacity: 0;
	}
}	
