
@media (max-width: 767px) {
	.student-list {
		padding-top: 2em;
		.progress {
			height: 2.5em;

			margin: 1em 0;
			width: 100%;
			.progress-bar {
				padding: .5em;
			}
		}
		.student-link {
			font-size: 1.5em;
		}
	}
}