.marking-task {
	border-top: 1px solid #E5E5E5;
	p {
		padding-left: 0;
	}
	.taskList-task-title {
		padding-left: 10px;
	}
}
.marking-notice {
	background-color: $red;
    color: $white;
    padding: 4px;
    border-radius: 4px;
}

