.taskList {
	padding-bottom: 10px;
	.taskList-task-title {
		margin-bottom: 0;
		padding-top: .5em;
		padding-bottom: .5em;

		font-size: 1.25em;
	}
	.taskList-marker {
		padding-top: .5em;
		padding-bottom: .5em;
		text-align: center;
	}
}
.taskList-title {
	font-weight: bold;
}

.status-title {
	text-align: center;
}
.task:hover {
	p {
		background-color: $homeGreen;
		color: $black;
		cursor: pointer;
	}
}
.marker {
	display: flex;
	justify-content: center;
	cursor: pointer;
}