.task-resources .panel {
	background-color: $lighterGrey;
	color: $darkGrey;
	padding-bottom: 10px;
	border-bottom: 1px solid #FFF;
	.panel-title {
		margin: 10px 0 5px 0;
		padding-left: 0;
	}
	p {
		padding-left: 0;	
	}
}

.task-resources .panel:hover {
	background-color: $homeGreen;
	p, .resource-icon {
		color: $black;
	}
}

.resource-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
	padding-right: 0;
	.resource-icon {
		color: $darkGrey;
	}
}
.resource-info {
	padding-left: 0;
	p {
		margin: 0
	}
}

.resource-duration {
	padding: 1em 2em;
	text-align: center;
	i {
		display: block;
		margin-bottom: 5px;
	}
	.duration {
		padding: 0;
	}

}
