.navWide {
	display: none;
}
.toggle-div {
	display: flex;
	align-items: center;
}
.toggle-icon {
	width: 40px;
	height: 40px;
}
.toggle-p {
	font-size: 1.25em;
	margin: 0;
}
#menu {
    overflow: hidden;
    border: 1px solid #ddd;
    width: auto;
  }