.navWide {
	display: none;
}
// .navNarrow {
// 	.navNarrow a div{
// 		height:0;
// 		-webkit-transition:height 200ms ease-in;
// 		-moz-transition:height 200ms ease-in;
// 		-o-transition:height 200ms ease-in;
// 		transition:height 200ms ease-in;
// 	}
// }
.toggle-div {
	display: flex;
	align-items: center;
}
.toggle-icon {
	width: 40px;
	height: 40px;
}
.toggle-p {
	font-size: 1.25em;
	margin: 0;
}
#menu {
    overflow: hidden;
    border: 1px solid #ddd;
    width: auto;
  }