.topic-title {
	margin: 24px 0 16px 0;
	padding: 0 10px;
	font-weight: bolder;
}
.topic-description {
	color: $darkGrey;
}
.topicStatus p {
	text-align: center;
	padding: 0;
}
.topicStatus-stat {
	margin: 15px 0 5px 0;
	font-weight: bold;
	font-size: 18px;
}
.topicStatus-done {
	color: $homeGreen;
}
.topicStatus-notDone {
	color: $black
}
.topicStatus-label {
	color: $lightGrey;
	font-size: 12px;
}
.marker.topicStatus-marker .fa {
	margin-top: 12px;
	font-size: 40px;
}

@media only screen and (max-width : 500px) {
	.marker.topicStatus-marker .fa {
		float: right;
	}
}

/************************************
INSTRUCTOR VIEW
************************************/

.student-topic-status {
	.taskList-task-title {
		padding: .25em .5em;

		font-size: 1.25em;

		cursor: pointer;
		& strong {
			color: $homeGreen;
		}
	}

	&:hover .taskList-task-title, &:hover strong {
		color: $white;
	}
}

.selected-topic {
	.assessment-item {
		padding: 1em 0;

		cursor: pointer;
		.questions-header {
			margin: 0;

			text-align: center;
		}
		.attempts {
			text-align: right;
		}
		.attempts:hover, .task:hover, {
			background-color: transparent;
		}
	}
	.task {
		padding-bottom: 15px;
	}
}