
.uncompleted-topic-description {
	font-weight: bold;
	margin: 20px 0px;
	text-align: center;
}
.uncompleted-tasks-list {
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
}
.uncompleted-tasks-list-item {
	padding: 0px 40px;
	margin: 0;
}
.uncompleted-tasks-list-item a {
	text-decoration: underline;
	color: $homeGreen;
	font-weight: bold;
}