
.uncompleted-topic-description {
	font-weight: bold;
	margin: 20px 0px;
	text-align: center;
}
.uncompleted-tasks-list {
	padding-bottom: 20px;
}
.uncompleted-tasks-list-item {
	text-align: center;
	margin: 0;
}
.uncompleted-tasks-list-item h5 {
	text-decoration: underline;
	color: $homeGreen;
	font-weight: bold;
}