.welcome .logo {
	display: block;
	position: static;
	margin: 10px;
}

.welcome-banner {
	height: 250px;
	margin: 0 10px 20px;
	width: calc(100% - 20px);

	background-image: url('../images/welcome-bg.jpg');
	background-size: cover;
	background-position: center;
}

.instructions {
	margin: 0 25px; 
	width: 80%;
	li {
		margin: 8px 0;
	}
}