.welcome .logo {
	display: block;
	position: static;
	margin: 10px;
}

.welcome-banner {
	height: 250px;
	margin: 0 10px 20px;
	width: calc(100% - 20px);

	background-image: url('../images/welcome-bg.jpg');
	background-size: cover;
	background-position: center;
}

.welcome-panel {
	margin-bottom: 0;

	border-left: none;
	border-right: none;
	border-bottom: none;
	&:last-of-type {
		border-bottom: none;
	}
	.instructions {
		margin: 0 25px; 
		padding-bottom: 1em;
		width: 80%;
		li {
			margin: 8px 0;
			&:last-of-type {
				margin-bottom: 0;
			}
		}

	}	
}

